*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: #E2E2B6;
}
header {
  background-color: transparent;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}
.title{
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #021526;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-links a {
  color: #021526;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: #45569b;
  transform: scale(0.9);
}
main {
  padding: 60px 20px 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  align-items: flex-start;
  justify-content: center;
}
.intro1{
  font-weight: 900;
  font-size: 80px;
  color: #021526;
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.449);
}
.intro2{
  font-weight: 900;
  font-size: 30px;
  color: #021526;
  margin-bottom: 20px;
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.449);
}

